<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Tracker Dashboard</title>
    <link rel="stylesheet" href="/css/homeStyles.css">
</head>
<body>
    <script src="/javascript/main.js"></script>
    <div class="dashboard">
        <header>
            <h1>📚 Book Tracker</h1>
        </header>

        <div class="buttons">
            <a href="/auth/logout" class="btn logout-btn">Logout</a>
            <a href="/books/addBook" class="btn add-book-btn">Add Book</a>
        </div>

        <div class="stats">
            <div class="stat-box">
                <h2>Total Books Read</h2>
                <p><%= finishedCount %> 📖</p>
            </div>
            <div class="stat-box">
                <h2>Currently Reading</h2>
                <p> <%= readingCount %> 📚</p>
            </div>            
            <div class="stat-box">
                <h2>Reading Goal</h2>
                <p>🎯 <%= finishedCount %> / 20 Books</p>
                <div class="progress">
                    <div class="progress-bar" style="width: <%= (finishedCount / 20) * 100 %>%;"></div>
                </div>
            </div>
        </div>

        <div class="books-section">
            <h2>📖 Books in Progress</h2>
            <% if (books && books.length > 0) { %>
                <% books.forEach(book => { %>
                    <div class="book">
                        <div class="book-info">
                            <h3><%= book.title %></h3>
                            <% if (((book.currentPage / book.totalPages) * 100) === 100) { %>
                                <p>Completed!!</p>
                            <% } else { %>
                                <p>Progress: <%= ((book.currentPage / book.totalPages) * 100).toFixed(2) %> %</p>
                            <% } %>
                            
                            <div class="progress">
                                <div class="progress-bar" style="width: <%= (book.currentPage / book.totalPages) * 100 %>%;"></div>
                            </div>
                        </div>
                        <div class="book-actions">
                            <a href="/books/edit/<%= book._id %>" class="edit-btn">Edit</a>
                            <a href="/books/delete/<%= book._id %>" class="delete-btn" onclick="return confirmDelete(event, '<%= book._id %>')">Delete</a>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <p>No books in progress!</p>
            <% } %>
        </div>
        
    </div>
</body>
</html>
